<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.tasknearby.yashcreations.com.tasknearby"
    android:installLocation="auto">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TealTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TealTheme"/>

        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:theme="@style/TealTheme" />

        <activity
            android:name=".NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TealTheme"/>

        <activity
            android:name=".SavedLocationListActivity"
            android:label="@string/title_activity_saved_location_list"
            android:parentActivityName=".NewTaskActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TealTheme" />

        <activity
            android:name=".TaskDetailActivity"
            android:label="@string/title_activity_task_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- API Key required to access Google Places and Google Maps API. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/common_api_key" />

        <service
            android:name=".service.FusedLocationService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.ActivityDetectionService"
            android:enabled="true" />

        <service
            android:name=".service.NotificationClickHandler"
            android:enabled="true" />

        <provider
            android:name=".database.TasksProvider"
            android:authorities="@string/content_authority"
            android:exported="false"/>

        <receiver
            android:name=".MainActivity$OnBootStarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
